@font-face {
    font-family: 'OuterSansLight';
    src: url('assets/fonts/OuterSansLight.otf') format("opentype");
}

@font-face {
    font-family: 'OuterSansMedium';
    src: url('./assets/fonts/OuterSansMedium.otf') format("opentype");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, main {
    background: #000;
    position: relative;
}

header {
    background: #000;
    z-index: 10;
}

a {

    font-size: 0.75rem;
    color: #fff;
}

a:hover {
    color: #FAFF00;
}

h1, h2, h3 {
    font-size: 4rem;
    color: #fff;
}

.fw-light, a, li, p {
    font-family: "OuterSansLight", sans-serif;
    font-weight: inherit !important;
}

h1, h2, h3, .fw-bold, .btn {
    font-family: "OuterSansMedium", sans-serif;
    font-weight: normal !important;
}

p, li {
    color: #fff;
    font-size: 0.875rem;
    margin-bottom: 0;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.25rem;
}

header {
    left: 0;
    top: 0;
    right: 0;
    background: none;
}

section {
    margin-bottom: 10rem;
}

hr {
    color: #000;
    opacity: 1;
}

ul {
    list-style-type: none;
}

li {
    position: relative;
    margin-left: 0.5rem;
}

li:before {
    position: absolute;
    content: url('./assets/check-circle.svg');
    top: 50%;
    left: -2.25em;
    transform: translateY(-50%);
}

.mb-7 {
    margin-bottom: 7rem;
}

.btn {
    background: #FAFF00;
    color: #000;
    font-size: 0.875rem;
    padding: 0.5rem 3rem;
    border-radius: 2em;
}

.btn:hover {
    background: #fff;
}

.btn-transparent {
    background: none;
    padding: 0;
}

.btn-transparent:hover {
    background: none
}

.homescreen {
    padding: 20em 0;
    background-image: url("./assets/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10rem;
}

.homescreen .btn {
    font-size: 1rem;
}

.membership-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
    padding: 0 5em;
}

.membership-option {
    background: #222222;
    padding: 2rem 0 2.5rem 0;
}

.reason-to-join {
    margin-bottom: 5rem;
}

.slider__slides button {
    padding: 0;
    height: 0.2em;
    width: 2.5em;
    margin-right: 0.5em;
    border-radius: 0.1em;
    background: #fff;
    border: none;
}

.slider__slides button:hover, .slider__slides .active {
    background: #FAFF00;
}

.staff-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
}

.staff {
    background: #222222;
}

@media screen and (max-width: 1440px) {
    .staff-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1200px) {
    .homescreen .container {
        max-width: 1200px;
    }

    .membership-options {
        padding: 0;
    }
}

@media screen and (max-width: 992px) {
    .homescreen {
        background-size: contain;
        margin-bottom: 0;
    }

    .homescreen .container {
        max-width: 992px;
    }

    .membership-options {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3em;
    }
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 1.75rem;
    }

    .membership .container {
        max-width: none;
    }

    .membership-options {
        display: flex;
        width: max-content;
        padding: 0 1em;
        grid-gap: 1em;
    }

    .membership-option {
        width: 80vw;
    }

    .staff-wrapper {
        display: flex;
    }

    .staff {
        width: 50vw;
    }
}